<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <title>@ViewBag.Title</title>
</head>
    <body style="background-color: purple;">
        <div>
            @*This is where razor will add the content*@
            @RenderBody()
        </div>
    </body>
</html>
